@import "tailwindcss";

@theme {  
  --breakpoint-md: 56rem;
}

:root {
  --background: #eff6ff;
  --foreground: #162456;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #162456;
    --foreground: #eff6ff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
